<div class="container">
    <div class="left-side">
      <!-- <img src="assets/login-image.png" alt="Login Image"> -->
    </div>
    <div class="right-side">
      <div class="login-header">
        <!-- <img src="assets/user-icon.png" alt="User Icon"> -->
        <h1>LOGIN</h1>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" formControlName="username" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" placeholder="Password">
        </div>
        <div class="form-group">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>