<div class="navbar">
    <button class="nav-item active" routerLink="app">Home</button>
    <button class="nav-item" routerLink="/app/project">Projects</button>
    <button class="nav-item" routerLink="/app/collab">Collabs</button>
    <button class="nav-item" routerLink="/app/review">Review</button>
    <button class="nav-item" routerLink="/app/account">Account</button>
</div>

<div class="content">
    <div class="projects">
        <h2>All Projects</h2>
        <div class="project-item">
            <div class="project-badge project-badge-purple"></div>
            <span>Project 1</span>
        </div>
        <div class="project-item">
            <div class="project-badge project-badge-pink"></div>
            <span>Project 2</span>
        </div>
        <div class="project-item">
            <div class="project-badge project-badge-green"></div>
            <span>Project 3</span>
        </div>
        <div class="project-item">
            <div class="project-badge project-badge-gray"></div>
            <span>Project 4</span>
        </div>
    </div>

    <div class="divider"></div>

    <div class="activity-feeds">
        <h2>Activity Feeds</h2>
        <div class="activity-item">
            <div class="activity-badge activity-badge-blue"></div>
            <span>Project 1 Committed</span>
        </div>
        <div class="activity-item">
            <div class="activity-badge activity-badge-purple"></div>
            <span>Project 1 Uploaded</span>
        </div>
        <div class="activity-item">
            <div class="activity-badge activity-badge-pink"></div>
            <span>Project 2 Collaborated</span>
        </div>
        <div class="activity-item">
            <div class="activity-badge activity-badge-green"></div>
            <span>Project 2 Committed</span>
        </div>
        <div class="activity-item">
            <div class="activity-badge activity-badge-yellow"></div>
            <span>Project 2 Uploaded</span>
        </div>
    </div>
</div>